<div class="controls">
  <button *ngIf="this.ready&&!this.roomAnimation.started" (click)=" this.roomAnimation.start()">start</button>
  <button *ngIf="this.roomAnimation.siringInProgress" (click)=" this.doneSiring();">done siring</button>
</div>
<canvas #canvas></canvas>