@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Regular.woff2') format('woff2'),
        url('DINPro-Regular.woff') format('woff'),
        url('DINPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Centro Sans Pro UBlack';
    src: url('PFCentroSansPro-UBlack.woff2') format('woff2'),
        url('PFCentroSansPro-UBlack.woff') format('woff'),
        url('PFCentroSansPro-UBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

