/* You can add global styles to this file, and also import other style files */

@import "src/assets/fonts/stylesheet.css";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}